media (min-width: @screen-lg-min) {

    .headerWrapper {
        height: 12vh;
    }

    .about-header {
        padding-bottom: 2%;
    }

    .left-image {
        padding: 0% 4% 4% 4%;
    }

    .aboutWrapper-1 {
        flex-direction: column;
    }

    .aboutIMG {
        margin-left: auto;
        width: 40%;
    }
}
@media (min-width: @screen-sm-min) { 
    .nav-link {
        padding: 0.5rem 0.5rem;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }
 
    .spacer, .spacer2, .spacer3 {
        display: none;
    }
 
    .first-text-service, .second-text-service, .third-text-service, .service-title, .daycare-title, .walks-title {
        margin-left: 0%;
        text-align: center;
    }

    .boxesWrapper {
        flex-direction: column;
    }
    /* About  Page Mobile*/

    .headerWrapper {
        height: 19vh;
    }

    .aboutWrapper-1 {
        flex-direction: column;
    }

    .aboutWrapper-2 {
        width: 80%;
    }

    .left-text {
        padding-top: 5%;
    }

    .aboutIMG {
        margin-left: auto;
    }

    /* Art Page */

    .artWrapper-2 {
        flex-direction: column-reverse;
        padding: 0% 5% 0% 5%;
        width: 100%;
    }

    .left-image-art {
        width: 100%;
    }

    .right-text-art {
        width: 100%;
    }

    .artWrapper-3 {
        padding: 5%;
        width: 100%;
    }
}