@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:wght@100;300;400&display=swap');
 
body {
  font-family: Arial;
  margin: 0;
}
 
section {
    background-color: #dfd4c0;
}
 
a:hover {
    text-decoration: none;
    color: black;
}
 
/* Header/Logo Title/Navbar */
.header{
  padding: 4%;
  text-align: left;
  background: #BEB29B;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
}
 
.header-lrg {
    font-weight: bold;
    font-size: 50px;
}
 
.header-med{
    font-weight: normal;
    font-size: 30px;
}
 
.header.sml{
    font-weight: lighter;
    font-size: 15px;
}
 
.navbar{
    width: 100%;
    text-align: right;
    color: black;
    display: block;
}
 
.navbar a:hover {
  background-color: #7c6232;
  color: black;
}
 
.justify-content-end{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;  
}
 
li a {
    color: black;
    text-transform: uppercase;
}
 
.logo {
    width:20%;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
 
.logo a:hover{
    background-color: #BEB29B;
    color: #000000;
    text-decoration: none;
}
 
/* --------- Mobile ---------*/
 
.body {
     background-color: #dffaff;
     opacity: 0.7;
 }
 
/* --------- Backgrounds -------- */
 
#bg-image{
    height:1000px;
    width: 100%;
    background-image: url("../images/dog5.jpg");
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.bg-color-about{
    background-color: #dfd4c0;
    display: flex;
    flex-direction: column;
}
 
/* --------- Index Page Contents -------- */
.content {
    padding:10%;
    position: relative;
    width: 80%;
    height: 120%;
    left: 10%;
    top: 200%;
    text-align: center;
 }
 
.content-head {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    margin-bottom: 20%;
}
 
.content-box {
    position: relative;
    width: 50%;
    height:100%;
    left: 0%;
    top: 0%;
    background-color: rgba(196, 196, 196, 0.63);
}
 
/* --------- Banners --------- */
 
.hero-img-about {
    background: url("../images/dog4.jpg");
    position: relative;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 
.hero-img-services {
    background: url("../images/dog6.jpg");
    position: relative;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 
.hero-img-contact {
    background: url("../images/dog9.jpg");
    position: relative;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 
.hero-img-art {
    background: url("../images/dog8.jpg");
    position: relative;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* --------- About Content --------- */
 
.about-header {
    font-family: Roboto Condensed;
    font-weight: bolder;
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding: 4%;
}
 
.img1 {
    width:30%;
    height:30%;
    background-image:url("../images/arina.jpg");
    margin:0;
    padding:0;
}
 
.top-p {
    font-family: Roboto Condensed;
    font-size: 18px;
    text-align: center;
    padding-bottom: 4rem;
 
}
 
.aboutContent {
    padding: 0% 5% 0% 5%;
}
 
.aboutIMG {
    height: auto;
    width: 60%;
}
 
.aboutIMG2 {
    height: auto;
    width: 80%;
}
 
.aboutWrapper-1 {
    display: flex;
    flex-drection: row;
    align-items: center;
    justify-content: center;
}
 
.aboutWrapper-1half {
    padding-top: 5%;
    padding-bottom: 5%;
}
 
.aboutWrapper-2 {
    display: flex;
    flex-drection: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 50%;
    height: auto;
    margin-right: auto;
}
 
.left-text {
    width: 100%;
    text-align: center;
}
 
/* --------- Service Page Contents -------- */
 
.bg-color-services{
    background-color: #dfd4c0;
    display: flex;
    flex-direction: column;
}
 
.service-header{
    font-family: Roboto Condensed;
    font-weight: bolder;
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding: 4%;
}
 
.spacer {
    width: 13.5%;
}
 
.spacer2 {
    width: 12.5%;
}
 
.spacer3 {
    width: 9.5%;
}
 
.walksWrapper{
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
}
 
.walks-title{
    font-family: Roboto Condensed;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
}
 
.daycare-title{
    font-family: Roboto Condensed;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
}
 
.service-title{
    font-family: Roboto Condensed;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
}
 
.first-text-service{
    font-family: Roboto Condensed;
    margin-left: 20%;
    font-size: 15px;
   
}
 
.second-text-service{
    font-family: Roboto Condensed;
    margin-left: 20%;
    font-size: 15px;
}
 
.third-text-service{
    font-family: Roboto Condensed;
    margin-left: 20%;
    font-size: 15px;
}
 
.bottom-text-service {
    font-family: Roboto Condensed;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    padding: 4%;
}
 
/* --------- Service Pictures --------- */
 
.walkIMG{
    display: block;
    width: 10%;
    height: 10%;
}
 
/* --------- Contact Content --------- */
 
.contact-header {
    font-family: Roboto Condensed;
    font-weight: bolder;
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding-top: 4%;
}
 
.contact-text1 {
    font-family: Roboto Condensed;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}
 
.contact-text-2 {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    padding: 0;
    margin-top: 2%;
}
 
.bottom-text-contact {
    font-family: Roboto Condensed;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    font-size: 15px;
    padding-bottom: 2%;
}
 
/* --------- Contact Form --------- */
 
input, select, textarea {
    font-family: Roboto Condensed;
    width: 100%;
    padding: 12px;  
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}
 
input[type=submit] {
    font-family: Roboto Condensed;
    background-color: #BEB29B;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
 
input[type=submit]:hover {
  background-color: #7c6232;
}
 
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
 
label {
    font-family: "Roboto Condensed";
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

/* --------- Art Content --------- */

.art-header {
    font-family: Roboto Condensed;
    font-weight: bolder;
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding-top: 4%;
    margin-block-end: 0%;
}

/* --------- Footer --------- */
 
.footer {
    background-color: #BEB29B;
}
 
.social-icons{
    font-size: 32px;
    color:black;
    text-align: center;
    letter-spacing: 12px;
    text-decoration: none;
}
 
/* Media */
 
@media (max-device-width: 600px){
 
    .header {
        width: 100%;
        flex-direction: column;
        padding: 4%;
        text-align: center;
    }
 
    header {
        display: flex;
    }
 
    .content-head {
        color: black;
        margin-top: 50%;
        margin-bottom: 10%;
    }
 
    .content-box {
        position: relative;
        width: 100%;
        height:100%;
        left: 0%;
        top: 0%;
        background-color: rgba(196, 196, 196, 0.63);
 
    }
 
    .content {
        text-align: center;
    }
    .logo {
        width: 100%;
    }
 
    .justify-content-end{
        justify-content: center !important;
    }
 
 
@media (min-device-width: 568px)(max-device-width: 812px){
 
    .header {
        width: 100%;
        flex-direction: column;
        padding: 4%;
        text-align: center;
    }
 
    header {
        display: flex;
    }
 
    .content-head {
        color: black;
        margin-top: 50%;
        margin-bottom: 10%;
    }
 
    .content-box {
        position: relative;
        width: 100%;
        height:100%;
        left: 0%;
        top: 0%;
        background-color: rgba(196, 196, 196, 0.63);
 
    }
 
    .content {
        text-align: center;
    }
    .logo {
        width: 100%;
    }
 
    .justify-content-end{
        justify-content: center !important;
    }
 
}
}
 
@media (min-device-width: 1024px)(max-device-width: 1366px){
 
    .header {
        width: 100%;
        flex-direction: column;
        padding: 4%;
        text-align: center;
    }
 
    header {
        display: flex;
    }
 
    .content-head {
        color: black;
        margin-top: 50%;
        margin-bottom: 10%;
    }
 
    .content-box {
        position: relative;
        width: 50%;
        height:100%;
        left: 0%;
        top: 0%;
        background-color: rgba(196, 196, 196, 0.63);
 
    }
 
    .content {
        text-align: center;
    }
    .logo {
        width: 100%;
    }
 
    .justify-content-end{
        justify-content: center !important;
    }
 
    .walkIMG {
        display: none;
    }
}